<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead mt-4">Jot down ideas for your next Blog-Post</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg mt-4">Add Blog-Post Idea</a>
</div>